- name: copy mongodb repo
  ansible.builtin.copy:
    src: mongodb.repo
    dest: /etc/yum.repos.d/mongodb.repo

- name: install mongodb server
  ansible.builtin.package:
    name: mongodb-org
    state: present
    
- name: allow remote connections
  ansible.builtin.replace:
    path: /etc/mongod.conf
    regexp: '127.0.0.1'
    replace: '0.0.0.0'

- name: start and enable service
  ansible.builtin.service:
    name: mongod
    state: started
    enabled: yes